@use './element.scss';
@use './clock.scss';
@use './settings.scss';
@use './search.scss';
@use './color.scss';
@use './mixins/acrylic.scss' as acrylic;
@use './transitions.scss';
@use './settings-btn.scss';
@use './font.scss';
@use './elegant-dialog.scss';

* {
  box-sizing: border-box;
}

html {
  background-color: var(--el-bg-color-page);
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-autospace: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: var(--el-font-family);
  font-size: var(--el-font-size-base);
  color: var(--el-text-color-primary);
}

html.colorful {
  .el-message-box,
  .base-dialog {
    background-color: var(--el-color-primary-light-9);
  }
}

html.dialog-transparent {
  .el-message-box,
  .base-dialog--opacity {
    background-color: var(--le-bg-color-overlay-opacity-15);
  }
}

html.dialog-acrylic {
  .el-message-box,
  .base-dialog--blur {
    @include acrylic.acrylic;
  }
}

.app {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 4vh, 32px);
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-top: clamp(24px, 6vh, 64px);
}

.app__hero {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
